@model Doc_Planner.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

    <h1>
        Modifier le rendez-vous
        @if (Html.ViewData.Model.Sexe == true)
        {
            <text>de Monsieur</text>
        }
        else
        {<text>de Madame</text>}
        @(Html.ViewData.Model.Nom)
    </h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <text> Date & heure du rendez-vous </text>
            <span class="form-check-inline">
                <input asp-for="HDebutRdv" type="date" class="form-control form-control-sm col-lg-9" required /> <input asp-for="HDebutRdv" type="time" name="heure" class="form-control form-control-sm col-lg-5" required />


            </span>
            <br />
            <span asp-validation-for="HDebutRdv" class="text-danger"></span>
            <br />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <label asp-for="Sexe" class="control-label"></label>
                    <br />
                    @Html.RadioButtonFor(model => model.Sexe, "true") Masculin
                    @Html.RadioButtonFor(model => model.Sexe, "false") Féminin
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diabete" class="control-label"></label>
                <select asp-for="Diabete" class="form-control">
                    <option value="">Sans</option>
                    <option value="Type2">Type 1</option>
                    <option value="Type1">Type 2</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Poids" class="control-label"></label>
                <input asp-for="Poids" class="form-control" />
                <span asp-validation-for="Poids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taille" class="control-label"></label>
                <input asp-for="Taille" class="form-control" />
                <span asp-validation-for="Taille" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExamenType" class="control-label"></label>
                <select asp-for="ExamenType" class="form-control" placeholder="Type de l'examen">
                    <option value="">Selectionner un type d'examen . . . </option>
                    <option value="IRM">IRM</option>
                    <option value="Echographie">Echographie</option>
                    <option value="Arthroscanner">Arthroscanner</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="NISS" class="control-label"></label>
                <input asp-for="NISS" class="form-control" />
                <span asp-validation-for="NISS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="HopitalDeRef" class="control-label"></label>
                <select asp-for="HopitalDeRef" class="form-control">
                    <option value="GHDC">Grand Hôpital de Charleroi</option>
                    <option value="CNDG">Clinique Notre-Dame de Grâce </option>
                    <option value="CHUCHARLEROI">CHU Charleroi</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
