@model Doc_Planner.Models.AppUserViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="text-uppercase text-center">Formulaire d'inscription à Doc_Planner</h5>
            </div>
            <div class="card-body">
                <form asp-action="Register">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Nom"></label>
                                <input asp-for="Nom" class="form-control" />
                                <span asp-validation-for="Nom" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Prenom"></label>
                                <input asp-for="Prenom" class="form-control" />
                                <span asp-validation-for="Prenom" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="HopitRef"></label>
                                <select asp-for="HopitRef" class="form-control">
                                    <option value="GHDC">Grand Hôpital de Charleroi</option>
                                    <option value="CNDG">Clinique Notre-Dame de Grâce </option>
                                    <option value="CHUCHARLEROI">CHU Charleroi</option>
                                </select>
                                <span asp-validation-for="HopitRef" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <input type="submit" value="Register" class="btn btn-sm btn-primary text-uppercase rounded-0" />
                </form>
            </div>
        </div>
    </div>
</div>
